<?xml version="1.0"?>
<config>
    <modules>
        <Arkade_S3>
            <version>0.1.0</version>
        </Arkade_S3>
    </modules>
    <global>
        <models>
            <arkade_s3>
                <class>Arkade_S3_Model</class>
                <resourceModel>arkade_s3_resource</resourceModel>
            </arkade_s3>
            <arkade_s3_resource>
                <class>Arkade_S3_Model_Resource</class>
            </arkade_s3_resource>
            <adminhtml>
                <rewrite>
                    <system_config_source_storage_media_storage>Arkade_S3_Model_Adminhtml_System_Config_Source_Storage_Media_Storage</system_config_source_storage_media_storage>
                </rewrite>
            </adminhtml>
            <core>
                <rewrite>
                    <file_storage>Arkade_S3_Model_Core_File_Storage</file_storage>
                    <file_storage_database>Arkade_S3_Model_Core_File_Storage_Database</file_storage_database>
                    <file_storage_directory_database>Arkade_S3_Model_Core_File_Storage_Directory_Database</file_storage_directory_database>
                </rewrite>
            </core>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Arkade_S3_Model_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
        </models>
        <helpers>
            <arkade_s3>
                <class>Arkade_S3_Helper</class>
            </arkade_s3>
            <core>
                <rewrite>
                    <file_storage_database>Arkade_S3_Helper_Core_File_Storage_Database</file_storage_database>
                </rewrite>
            </core>
        </helpers>
    </global>
</config>
